<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>THE blog</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    {{ include('header.html.twig') }}
    <body>
      {% block body %}
           <div style="text-align: center; margin-top: 2%;" class="container">
                <h3>{{ post.title }}</h3>
                <h4>{{ post.subtitle }}</h5>
                <div>{{ post.corpus }}</div>
                <p>Published the : {{ post.createdAt | date("d/m/Y") }}</p>
                
                <a style="margin-top:3%" href="{{ path('home')}}" class="btn btn-primary">Back</a>

            </div>
            <div style="margin-top:3%" class="text-center">
                {% if post.id > 1 %}<a style="margin-right: 10px;" href="{{ path('get_article', {'id': post.id-1}) }}"> < Previous post</a>{% endif %}
                {% if post.id < numberOfPosts %}<a href="{{ path('get_article', {'id': post.id+1}) }}">Next post > </a>{% endif %}
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
