{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}


    <div class="container align-content-center" style="margin-top: 50px;">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1 class="blogNameFont font-weight-bold text-center">4MINE blog</h1>
                    <article style="margin: 40px;">
                        <h2 class="titleFont font-weight-bold">{{ article.title }}</h2>
                        <h4 class="subtitleFont">{{ article.subtitle }}</h4>
                        <h6 class="text-muted">{{ article.createdAt ? article.createdAt|date('Y-m-d') : '' }}</h6>
                        <p>{{ article.corpus }}</p>
                    </article>
            </div>
        </div>
        <div class="col-lg-8 col-md-10 mx-auto align-content-center">
            <a href="{{ path('article_index') }}">
                <button class="btn btn-light btn-outline-dark" type="button">
                    Go back
                </button>
            </a>
            <a href="{{ path('article_edit', {'id': article.id}) }}">
                <button class="btn btn-light btn-outline-primary" type="button">
                    Edit article
                </button>
            </a>
        </div>
    </div>

{% endblock %}
