<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Un blog magnifique{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        {{ include('header.html.twig') }}
        {% block body %}
            <div style="text-align:center; margin-top: 10px; margin-bottom: 30px;">
                <a href="{{ path('createArticle') }}">
                Ajouter un nouvel article
                </a>
            </div>
            
            {% if articles|length == 0 %}
                <p>Pas encore d'article dans le blog.</p>
            {% else %} 
                    {% for item in articles %}
                        <div style="margin-bottom: 40px; text-align:center;">
                            <h3>{{ item.title }}</h3>
                            <h5>{{ item.subtitle }}</h5>
                            <div style="display: flex; align-items: center; justify-content: center;">
                                {% for tag in item.tags %}
                                    <p style="margin-right: 10px;">{{ tag.name }}</p>
                                {% endfor %}
                            </div>
                            <a style="cursor: pointer;" href="{{ path('getArticle', {'id' : item.id }) }}">
                                Voir l'article
                            </a>
                        </div>
                    {% endfor %}
            {% endif %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
