<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Un blog magnifique{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
        {{ include('header.html.twig') }}
    <body style="text-align:center;width: 100%;position: absolute;top: 60px;margin-bottom: 40px;">
        {% block body %}
            {{ form_start(form, {method: 'POST', action: path('create_post')}) }}
                    <h1>
                         Ajouter un Article
                    </h1>

                    {# Render any global form error (e.g. when a constraint on a public getter method failed) #}
                    {{ form_errors(form) }}

                    <div class="form-group {% if not form.title.vars.valid %}has-error{% endif %}">
                        {{ form_label(form.title, 'Title:', {label_attr: {class: 'hidden'}}) }}

                        {# Render any errors for the "title" field (e.g. when a class property constraint failed) #}
                        {{ form_errors(form.title) }}

                        {{ form_widget(form.title) }}
                        {{ form_help(form.title) }}
                    </div>
                    <div class="form-group {% if not form.subtitle.vars.valid %}has-error{% endif %}">
                        {{ form_label(form.subtitle, 'Subtitle:', {label_attr: {class: 'hidden'}}) }}

                        {# Render any errors for the "subtitle" field (e.g. when a class property constraint failed) #}
                        {{ form_errors(form.subtitle) }}

                        {{ form_widget(form.subtitle) }}
                        {{ form_help(form.subtitle) }}
                    </div>
                    <div class="form-group {% if not form.corpus.vars.valid %}has-error{% endif %}">
                        {{ form_label(form.corpus, 'Corpus:', {label_attr: {class: 'hidden'}}) }}

                        {# Render any errors for the "corpus" field (e.g. when a class property constraint failed) #}
                        {{ form_errors(form.corpus) }}

                        {{ form_widget(form.corpus, {attr: {rows: 10}}) }}
                        {{ form_help(form.corpus) }}
                    </div>
                    <div class="form-group {% if not form.createdAt.vars.valid %}has-error{% endif %}">
                        {{ form_label(form.createdAt, 'Created At:', {label_attr: {class: 'hidden'}}) }}

                        {# Render any errors for the "createdAt" field (e.g. when a class property constraint failed) #}
                        {{ form_errors(form.createdAt) }}

                        {{ form_widget(form.createdAt) }}
                        {{ form_help(form.createdAt) }}
                    </div>
                    <div class="form-group {% if not form.tags.vars.valid %}has-error{% endif %}">
                        {{ form_label(form.tags, 'Tags:', {label_attr: {class: 'hidden'}}) }}

                        {# Render any errors for the "tags" field (e.g. when a class property constraint failed) #}
                        {{ form_errors(form.tags) }}

                        {{ form_widget(form.tags) }}
                        {{ form_help(form.tags) }}
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary pull-right" type="submit">
                            publier
                        </button>
                    </div>


            {{ form_end(form) }}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
        {{ include('footer.html.twig') }}
</html>
