<div class="card text-center">
    <div class="card-header">
        {{ article.title }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ article.subtitle }}</h5>
        <p class="card-text">{{ article.corpus|truncate(30) }}</p>
        <a href="{{ path('article_show', {'id':  article.id }) }}" class="btn btn-primary">Lire cet article</a>
    </div>
    <div class="card-footer text-muted">
        {{ article.createdAt|date('Y-m-d H:i') }}
    </div>
</div>