<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ValTom's !{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

{% include 'header.html' %}

<div class="container">

    <div class="row justify-content-md-center">

        <div class="col-*-auto">
            <h1>ValTom's</h1>
        </div>

    </DIV>


    <div class="row justify-content-md-center">

        <div class="col-*-6 col-*-push-3">

            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ article.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ article.title }}</td>
                </tr>
                <tr>
                    <th>Subtitle</th>
                    <td>{{ article.subtitle }}</td>
                </tr>
                <tr>
                    <th>Corpus</th>
                    <td>{{ article.corpus }}</td>
                </tr>
                <tr>
                    <th>CreatedAt</th>
                    <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                </tbody>
            </table>

            <a href="{{ path('article_index') }}">back to list</a>

        </div>

    </div>

    <div class="row justify-content-md-center">

        <div class="col-2 m-*-auto">
            <a href="/article/{{ article.id - 1 }}" class="btn btn-primary btn-lg active" role="button"
               aria-pressed="true">Article précédent</a>
        </div>
        <div class="col-8"></div>
        <div class="col-2 m-*-auto">
            <a href="/article/{{ article.id + 1 }}" class="btn btn-primary btn-lg active" role="button"
               aria-pressed="true">Article suivant</a>
        </div>
    </div>

</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>




 




