{% extends 'base.html.twig' %}

{% block body %}
<style>
 .article { text-align: center; }
 .article ul { display:inline-table; }
 .article li { display:inline; }
</style>

     <h1 style="color:white;background-color:DodgerBlue;"><center><span style="text-decoration: underline;">Afrass's Blog</span></center></h1>
     <br/>
     <br/>
     <h2 style="color:DodgerBlue"><center>{{ post.title }}</center></h2>
     <br/>
    <center>
    <table>
        <tbody>
            <tr>
                <th>Id : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <td>{{ post.id }}</td>
            </tr>



     <br/>
            <tr>
                <th>Subtitle : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <td>{{ post.subtitle }}</td>
            </tr>

     <br/>
            <tr>
                <th>Tags : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <td>{{ post.tags | join(', ')}}</td>
            </tr>

     <br/>
            <tr>
                <th>Corpus : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <td>{{ post.corpus }}</td>
            </tr>
            <tr>
                <th>Createdat : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <td>{% if post.createdAt %}{{ post.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
</center>
     <br/>

    <div class="article">
    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
        </br>
        <li>
            <a href="{{ path('post_edit', { 'id': post.id }) }}">Edit</a>
        </li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
    </ul>
    </div>
{% endblock %}

